name: CI-CD AKS Terraform

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build & Push
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/aks-terraform-app:latest ./app
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/aks-terraform-app:latest

      - name: Build & Push
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/aks-terraform-app:latest ./app
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/aks-terraform-app:latest

      - name: AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: rg-aks-terraform-lab
          cluster-name: aks-terraform-lab

      - name: Deploy
        run: |
          sed -i "s|ACR_LOGIN_SERVER|${{ secrets.ACR_LOGIN_SERVER }}|g" k8s/deployment.yaml
          kubectl apply -f k8s/
